.no-scroll{
    overflow: hidden;
    height: 100vh;
}

.intro-wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;
}

.color-curtain {
    position: absolute;
    inset: 0;
    background-color: var(--white);
    animation: fadeOutCurtain  5s ease-in forwards;
}

.logo-layer {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.zoom-img {
    width: 100vw; 
    height: auto;
    will-change: width, height;
    animation: logoGrow  5s ease-in forwards;
    transform-origin: 53.2% 45.57%;
    outline: 5000px solid var(--white);
    outline-offset: -1px;
}

svg {
    transform-box: view-box;
}

@keyframes logoGrow {
    0% {
        transform: scale(1);
        background-color: var(--gold);
    }

    20% {
        transform: scale(1);
        background-color: var(--gold);
    }

    40%{
        background-color: transparent;
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: scale(100);
        opacity: 0;
    }
}

@keyframes fadeOutCurtain {
    0% { opacity: 1;}
    20% {opacity: 1;}
    40% { opacity: 0;}
    100% { opacity: 0;}
}



#hero {
    text-align: center;
    background-image: linear-gradient(#00000032, #00000067), url("../img/index-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10%;
}

#hero h1{
    max-width: 800px;
    text-shadow: 1px 1px 10px black;

}

#hero-btn{
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s;
    display: inline-block;
    margin: 3rem 0 2.5em;
}

#hero-btn:hover{
    background-color: var(--gold);
    color: var(--white);
    border: 1px solid var(--gold);
}

#icon{
    width: 2.2em;
    stroke-width: 3px;
    overflow: visible;
    animation: chev 1s infinite alternate;
}

@keyframes chev {
   0% {transform: translateY(0);}
    100% {transform: translateY(5px);}
}

main{
    gap: 4rem;
}

#lines{
    margin-top: 5rem;
    scroll-margin-top: 10rem;
}

#lines-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: end;
    gap: 1.2em;
    margin: 4rem 0;
}

#lines-grid img {
    width: 100%;
}

h2{
    font-weight: 200;
    text-align: center !important;
}

.lines-card{
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: relative;
}

.lines-card a{
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--gold);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.lines-card a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

#classic, #collection{
    scroll-margin-top: 160px;
}

.under-tittle{
    border: none;
    height: 1px;
    background-color: var(--gold);
    margin-bottom: 2em;
}

.panettones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.panettone-card, .pandoro-card {
    text-align: center;
    text-decoration: none;
}

.panettone-card img, .pandoro-card img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.panettones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
}

.panettone-card {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.panettone-card img {
    width: 100%;
    margin: 0 auto 15px auto;
}

#pandoro-corte{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
}

#products{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


@media (max-width: 450px){
    #hero-btn {
        padding: 0.5rem 1rem;
    }

    .lines-card a {
        font-size: 1.1rem;
    }

    #hero-btn{
        background-color: var(--gold);
        color: var(--white);
        border: 1px solid var(--gold);
    }

    .under-tittle {
        height: 2px;
    }
}
