
#hero {
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

h2{
    text-align: center !important;
    text-align: center !important;
    font-weight: lighter;
}

.lines-card{
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: relative;
}

.lines-card a{
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--gold);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.lines-card a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

#classic, #collection{
    scroll-margin-top: 80px;
}

#classic{
    margin-bottom: 8%;
}

.lead {
    margin-top: 4em;
    text-align: center;
    font-size: 1.1rem;
}

.tittle{
    padding: 5rem 8%;
    color: var(--white);
    margin: 6% 0 2%;
}

#classic-tittle{
    background-color: var(--classic);
}

#collection-tittle{
    background-color: var(--collection);
}

#pandoro-tittle{
    background-color: var(--pandoro);
}

#corte-tittle{
    background-color: var(--corte);
}

.under-tittle{
    border: none;
    height: 1px;
    background-color: var(--white);
    margin-top: 2em;
    width: 50%;
}

.linea-title, p{
    text-transform: none;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
}


.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    position: relative;
    margin: 2% 0;
}

.card img{
    width: 100%;
}

.card h3{
    font-size: 2.5rem;
}

.card a{
    text-decoration: none;
    color: black;
}

.card a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.card:nth-child(odd) {
    direction: rtl;
}

.card:nth-child(odd) .card-info {
    direction: ltr; 
    text-align: left;
}

.collection-tittle{
    font-family: "BebasNeue Regular";
    font-size: 4rem;
}

.collection-subtittle{
    font-family: "BebasNeue Light";
    font-size: 4rem;
}

h3{
    font-family: "BebasNeue Regular";
    font-size: 3rem;
    font-weight: lighter;
}


@media (max-width: 600px){
    .card{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 3rem 0;
    }

    .card h3 {
        margin-top: 2rem;
        margin-bottom: 0.4em;
    }

    .tittle{
        margin: 5rem 0 3rem;
    }

    .lead{
        margin-top: 3em;
    }
    
    .collection-tittle, .collection-subtittle{
        font-size: 3rem;
    }
}